.selectContainer{
    background-color: #ffffff;
    border: 5px solid #004400;
    width: 140px;
    height: 40px;

}

.Button{
    background-color: #ffffff;
    color: #000000;
    width: 100%;
    border: none;
    height: 40px;
    font-size: 30px;
    cursor: pointer;

}

.selectButtonContainer{
    margin-top: 5px;
}

.selectButton{
    background-color: #ffffff;
    color: #000000;
    width: 100%;
    border-style: solid ;
    border-color: #004400;
    border-width: 0px 5px 5px 5px ;
    height: 40px;
    font-size: 30px;
}

