.input{
    width: 360px;
    height: 40px;
    outline: none;
    font-size: 25px;
    background-color: #ffffff;
    color: #000000;
    border: 5px solid #004400;
    border-radius:50px 0px 0px 50px;
    padding-left: 50px;
}